$max-width: 880px;
$text-gap: 18px;

footer.site-footer {
	font-family: "Inter";
	max-width: $max-width;
	margin: 60px auto;
	padding: 0 40px;

	.business_info {
		display: none;
	}

	p {
		text-align: center;
	}

	a {
		color: black;
		text-decoration: none;
		display: block;
		position: relative;

		&:visited {
			color: inherit;
		}

		&:hover {
			color: black;
			text-decoration: underline black;
		}
	}

	ul {
		list-style-type: none;
		padding: 0px;
		margin: 0;
	}

	> ul > li > a {
		// outline: 1px solid red;

		color: #737373;
		margin-bottom: $text-gap;

		&:hover, &:visited {
			color: #737373;
			text-decoration: none;
		}


	}

	#footer > li {
		margin-bottom: 32px;
	}

	.sub-menu {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-row-gap: $text-gap;
		margin: 0;

		li:nth-child(even) {
			text-align: right;
		}

		// kleiner Bildschirm, einzeilig
		@media (max-width: 310px) {
			grid-template-columns: 1fr;
			li:nth-child(even) {
				text-align: left;
			}
		}
	}

	@media (min-width: 450px) {

		.business_info {
			display: list-item;
		}

		#footer {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			li {
				min-width: 40%;
			}
		}

		.sub-menu {
			grid-template-columns: 1fr;

			li:nth-child(even) {
				text-align: left;
			}
		}
	}

	@media (min-width: 800px) {
		#footer {
			li {
				min-width: 0%;
			}
		}
	}
}
