$navbar-height: 80px;


.landing-header {
  // sizing
  height: 100%;

  display: flex;
  position: relative;
  overflow: hidden;

  h1 {
    font-family: inherit;
    font-weight: 400;
    margin: 0;
    padding: 1rem;
    text-align: center;
    font-size: 3rem;
    background: rgb(255, 255, 255); 
  }


  .button {
    background: rgb(0, 0, 0);
    font-size: 1.2rem;
    color: white;
    padding: 1.3rem 1.6rem;
    text-decoration: none;
  }

  .illustration {
    width: 100%;
    bottom: 0;
    position: absolute;
  }

  .info {
    z-index: 1;
    width: 100%;
    display: grid;

    justify-items: center;
    align-items: center;
    
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    padding-top: 80px;
  }


  @media screen and (max-aspect-ratio: 9/11){
    // align-items: flex-end;

    // .info {
    //   position: absolute;
    //   height: 100%;
    //   width: 100%;
    //   top :0;
    //   left: 0;
    //   justify-content: space-evenly;
    //   z-index: 1;
    //   padding-top: $navbar-height;
    //   // padding-bottom: 1rem;
    // }
    
    // .illustration {
    //   width: 100%;
    //   padding-bottom: 2rem;
    // }
  }

  // fix full height for ios, except below ios 12
  // there, a bottom bar covers a part of the section
  // not worth fixing though, the button padding makes
  // the button still fully visibile
  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available;

    img, .illustration { 
      height: auto;
    }
  }
}

