$navbar-height: 80px;


.landing-header {
  // sizing
  height: 100%;

  padding-top: 80px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  h1 {
    font-family: "Space Mono";
    font-weight: 400;
    text-align: center;
  }

  .desktop_text {
    display: none;
  }

  .button {
    font-size: calc(1.5rem);
    color: white;
    text-decoration: none;
    background: black;
    padding: 1.1rem 1.3rem;
    display: block;
    font-family: "Space Mono";
    font-weight: 400;
  }

  .info {
    position: absolute;
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: center;
    bottom: 1rem;
    margin: 0 auto;
  }

  .mobile_text {
    flex-grow: 1;
    padding: 0 .5rem;
  }

  @media (min-aspect-ratio: 1/1) {
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .info {
      width: auto;
      position: relative;
      flex-direction: column;
      align-items: center;
      margin: 0;
    }

    .mobile_text {
      display: none;
    }

    .desktop_text {
      display: block;
      max-width: 16ch;
    }
    
    .img img {
      max-height: 80vh;
      object-fit: cover;
      width: auto;
    }

    .gap {
      flex: 0 100 5rem;
    }
    
  }

  // fix full height for ios, except below ios 12
  // there, a bottom bar covers a part of the section
  // not worth fixing though, the button padding makes
  // the button still fully visibile
  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available;

    img, .illustration { 
      height: auto;
    }
  }
}

