.testimonials {
  margin: 100px 0;

  h2 {
    max-width: 880px;
    padding: 0 40px;
    margin: 20px auto;

  }
  .scroll {
    
    display: flex;
    // align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 20px auto;


    h3, p, a {
      margin: 0;
      padding: 0;
    }

    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      flex-basis: 300px;
      padding: 30px;
      margin: 20px;
      box-shadow: 0px 4px 12px rgba(115, 147, 157, 0.18), 0px 0px 3px rgba(73, 110, 144, 0.05);
      
      >*:not(:last-child) {
        margin-bottom: 1.5rem;
      }

      // title
      h3 {
        position: relative;

        &::before {
          content: "\“";
          position: absolute;
          left: -.6ch;
          top: 0;

        }
      }

      // div with info about person
      .person {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      
      // text
      >p {
        // font-size: 0.8rem;
      }

      a, svg {
        display: block;
      }

      .company {
        color: #2B353B;
        font-size: .9rem;
      }
    }

    
  }
}