.contact-us {
  background-color: black;
  color: white;

  .inner {
    max-width: 880px;
    margin: 0 auto;
    padding: 40px;

    >*:not(:last-child) {
      margin-bottom: calc(1.4rem + 2vw);
    }
  }

  h2 {
    margin: 0;
  }

  a {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
  }
}
