.landing-body {
  max-width: 1200px;

  svg {
    background-color: #ffffff;
  }

  @media (min-width: 750px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px;
    align-items: center;
    gap: 100px;
    >*:nth-child(3) {
      grid-row: 3;
    }
  }
}