// @import "./trispace-font.scss";
@import "./old-style.scss";
@import "./typography.scss";

html, body.home, body.home #page {
  height: -webkit-fill-available;
}

body {
  font-family: "Space Mono", monospace;
  font-weight: 400;
}


 
@import "./main-header.scss";
@import "./footer.scss";
@import "./contact-us.scss";
@import "./blog.scss";
@import "./landing-header.scss";
@import "./landing-body.scss";
@import "./testimonials.scss";
@import "./temp.scss";
@import "./portfolio.scss";
@import "./contact-form.scss";
@import "./scrollbar.scss"
