body.single-post main {
  font-family: "Inter", sans-serif;
  p {
    font-size: 18px;
  }

  h2:not(:first-child) {
    margin-top: 4rem;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1.5rem 0;

    a {
      display: block;
      padding: .2rem .6rem;
      border-radius: 100rem;
      border: 1px solid;
      text-decoration: none;

      &:hover {
        color: #112952;
      }
    }
  }
}

.blog-preview {
  img {
    display: block;
  }

  .thumbnail {
    border: 1px solid black;
  }

  .title {
    border: 1px solid black;
    width: 85%;
    transform: translateY(-2.5rem);
    background: white;
    // float: right;
    margin-left: auto;
    margin-right: 5%;
    padding: 1rem;
    max-width: 25rem;

    h3 {
      margin:0;
      word-break: break-word;
      hyphens: auto;
    }

    a {
      text-decoration: none;
    }

  }
      @media (min-width: 800px) {
       margin-bottom: 5rem;
       position: relative;

        .title {
        position: absolute;
        transform: none;
        margin: 0;
        bottom: 1rem;
        right: 1rem;

       }
  
      }
}